<%- include('partial/head.ejs') %>
  </head>
  <body>

    <%- include('partial/nav.ejs') %>
    <main>
      <img src="/images/404.png" alt="404 Page not found" />
    </main>
<%- include('partial/end.ejs') %>
