.add-form {
  width: 20rem;
  max-width: 90%;
  margin: 0 auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
}
.form-control input,
.form-control textarea {
  border: 1px solid goldenrod;
  font: inherit;
  border-radius: 2px;
}
.form-control input:focus,
.form-control textarea:focus {
  outline-color: rgb(86, 10, 131);
}
button {
  font: inherit;
  border: 1px solid rgb(86, 10, 131);
  color: rgb(86, 10, 131);
  border-radius: 3px;
  cursor: pointer;
  padding: 0.25rem 1rem;
}
button:hover,
button:active {
  background-color: rgb(86, 10, 131);
  color: white;
}
