@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Yeon+Sung&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
main {
  padding: 1rem;
}
.center {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: goldenrod;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
}
.main-header__nav h2 {
  font-family: 'Yeon Sung', cursive;
}
.main-header__item-list {
  list-style: none;
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(86, 10, 131);
}
/* .mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: rgb(86, 10, 131);
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: goldenrod;
  border-color: goldenrod;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
} */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.card__content {
  height: 80px;
}
.card__header,
.card__content {
  padding: 1rem;
}
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}
.card__image {
  width: 100%;
}
.card__image img {
  width: 100%;
  height: 225px;
}
.card__actions {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
  text-decoration: none;
}
.btn {
  font: inherit;
  padding: 0.25rem;
  border: 1px solid rgb(86, 10, 131);
  color: rgb(86, 10, 131);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  width: 65px;
}
.btn:hover,
.btn:active {
  background-color: rgb(86, 10, 131);
  color: white;
}
.btn.btn-size {
  width: 120px;
}
/* @media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
} */
